{% extends "base.html" %}
{% load static %}

{% block title %}
Comments
{% endblock title %}

{% block activecomments %}
active
{% endblock activecomments %}

{% block main %}

    <div class="container">
        <h1 class="text-center pt-2">Comment's Section</h1>
        <h4 class="text-center pt-2 text-muted">Let me know what you think about the site and please keep it family friendly :)</h2>
        <br/>
        <br/>
        <div class="row py-lg-2">
            {% block addcomment %}{% endblock addcomment %}
            {% include 'includes/messages.html' %}
            <div class="col-lg-8 col-md-8 col-xs-8 mx-auto">
                <h2>Latest Comments</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 mx-auto">
                <a {% block hidden %}{% endblock hidden %} href="{% url 'newcomment' %}" class="btn btn-primary my-2">Add Comment</a>
            </div>
        </div>  
        
        <hr/>

        {% for comment in comments.all %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4>{{ comment.user }} </h3> 
                    <p>{{ comment.post_date_format }}</p>
                    <hr/>
                    <p class="card-text">{{ comment.content|linebreaks }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock main %}