{% extends "base.html" %}
{% load static %}

{% block title %}
Comments
{% endblock title %}

{% block activecomments %}
active
{% endblock activecomments %}

{% block main %}

    <div class="container">
        <h1 class="text-center pt-2">Comment's Section</h1>
        <h3 class="text-center pt-2">Let me know what you think about the site and please keep it family friendly :)</h2>
        <br/>
        <br/>
        <h2>Latest Comments</h2>
        <hr/>

        {% for comment in comments.all %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4>{{ comment.user }} </h3> 
                    <p>{{ comment.post_date_format }}</p>
                    <hr/>
                    <p class="card-text">{{ comment.content|linebreaks }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock main %}