{% extends "base.html" %}
{% load static %}

{% block title %}
Pawel's blog
{% endblock title %}

{% block activeblog %}
active
{% endblock activeblog %}

{% block main %}

    <div class="container">
        <h1 class="text-center pt-2">Welcome to Pawel's Blog</h1>
        <br/>
        <br/>
        <h2>Latest Posts</h2>
        <hr/>

        {% for blog in blogs.all %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <a href="{% url 'detail' blog.id %}">
                        <h3>{{ blog.title }} </h3> 
                    </a> 
                    <p>{{ blog.post_date_format }}</p>
                    <hr/>
                </div>
                
                <div class="row">
                    <div class="card-body col-lg-6 col-md-6 col-xs-6">
                        <img class="img-fluid" src="{{ blog.image.url }}" height=150 width=400/>
                    </div>
                    <div class="card-body col-lg-6 col-md-6 col-xs-6">
                        <p class="card-text">{{ blog.summary|linebreaks }}</p>
                    </div>
                </div>

                <div class="card-body">
                    <p>last edit: {{ blog.edit_date_format }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock main %}