{% extends "base.html" %}
{% load static %}

{% block title %}
{{ blog.title }}
{% endblock title %}

{% block activeblog %}
active
{% endblock activeblog %}

{% block main %}

    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="text-center pt-3">{{ blog.title }} </h1> 
            <p class="text-center pt-3">{{ blog.post_date_format }}</p>
            <hr/>
        </div>
        
        <div class="card-body text-center">
            <img class='img-fluid' src="{{ blog.image.url }}" height=700/>
        </div>
        

        <div class="card-body text-center">
            <p class="card-text">{{ blog.content }}</p>
        </div>
        <div class="card-body text-center">
            <p>last edit: {{ blog.edit_date_format }}</p>
        </div>
    </div>

{% endblock main %}