{% extends "base.html" %}
{% load static %}

{% block title %}
Pawel Jarubas
{% endblock title %}

{% block main %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Well, hello there.</h1>
                <p class="lead text-muted">
                    My name is Pawel and this is my portfolio page written in Python Django. Hope you will find what you like. 
                    Have fun! 
                </p>
                <p>
                    <a href="mailto:pawel.jarubas@gmail.com" class="btn btn-primary my-2">Email Me</a>
                </p>
                <img src="{% static 'MyPhoto.jpg' %}" height=300/>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for job in jobs.all %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="img-fluid" src="{{ job.image.url }}"/>

                        <div class="card-body">
                            <h3 class="card-text">{{ job.title }}</h3> 
                            <p class="card-text">{{ job.summary|linebreaks }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock main %}