{% extends "base.html" %}
{% load static %}

{% block title %}
Pawel Jarubas
{% endblock title %}

{% block main %}

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <br/>
    <div class="row py-lg-2 text-center">
        <h1 class="fw-light">Well, hello there!</h1>
    </div>
    <br/>
    <section class="text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-3 col-md-3 col-xs-3 mx-auto">
                <img class="img-fluid" width=300 src="{% static 'MyPhoto.jpg' %}"/>
            </div>
            <br/>
            <div class="col-lg-6 col-md-6 col-xs-3 mx-auto">
                <br/>
                <p class="lead text-muted">My name is Pawel.</p>
                <p class="lead text-muted">
                    This is my portfolio page that I wrote using Python Django. You can find the specifics in one of my blogs.
                </p>
                <p class="lead text-muted">Feel free to browse through and leave some comments.</p>
                <p class="lead text-muted">Have fun!</p>
                <br/>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 mx-auto">
                <h4 class="fw-light">My Hometown</h4>
                <div class="img-fluid" id='map' style='margin:auto; width: 300px; height: 300px'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoiY2hpbGxpbnBhd2VsIiwiYSI6ImNrbWF4MDJ0MjFoMzEydmxhNzJkajk5MngifQ.AwbZ2c71ZJgerdCMrfw14A';
                    {
                        var latitide = 20.48;
                        var longitude = 53.775;

                        var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [latitide, longitude],
                        zoom: 10

                    });
                    new mapboxgl.Marker().setLngLat([latitide, longitude]).addTo(map);
                }
                </script>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for job in jobs.all %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-text">{{ job.title }}</h3> 
                            <img class="img-fluid" src="{{ job.image.url }}"/>
                            <p class="card-text">{{ job.summary|linebreaks }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock main %}